name: Buf CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/buf-ci.yml'
      - 'buf.yaml'
      - 'buf.lock'
      - '*/proto/**'
      - '*/buf.yaml'
      - '*/buf.lock'
  pull_request:
    paths:
      - '.github/workflows/buf-ci.yml'
      - 'buf.yaml'
      - 'buf.lock'
      - '*/proto/**'
      - '*/buf.yaml'
      - '*/buf.lock'

jobs:
  buf-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint Workspace
        run: buf lint

      - name: Format Check Workspace
        run: buf format -d --exit-code

      - name: Push Workspace
        if: github.ref == 'refs/heads/main'
        env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
        run: buf push